@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
    --background: #fff8dc;
    --foreground: #1e261f;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-warm-100: #fff8dc;
    --color-primary-200: #a1cca3;
    --color-primary-400: #4b5e4b;
    --color-primary-800: #1e261f;

    --font-fraunces: "Fraunces", serif;
    --font-spartan: "League Spartan", sans-serif;
    --font-code: "Google Sans Code", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e261f;
        --foreground: #fff8dc;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-spartan);
}

p {
    line-height: 150%;
    letter-spacing: 0.025em;
}
